{% extends 'base.html' %}

{% block content %}
       
    <div id="card" class="card" style="width: 18rem;">
        <img src="{{ tool.item_image }}" class="card-img-top" alt="{{ tool.item_image }}">
        <div class="card-body">
        <h5 class="card-title">{{ tool.item_name }}</h5>
        <p class="card-text">{{ tool.item_model }}</p>
        </div>

{% if tool.user_id == current_user.id %}

<!-- Add to cart button -->
<a href="{{ url_for('ig.addToCart', tool_id=tool.id) }}" type="button" class="btn btn-success">Add to Cart</a>


<!-- UPDATE BUTTON -->
<a href="{{ url_for('ig.editTool', tool_id=tool.id) }}" type="button" class="btn btn-primary">Edit</a>


<!-- DELETE BUTTON -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Warning. This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="{{ url_for('ig.removeTool', tool_id=tool.id) }}" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}