{% extends 'base.html' %}

{% block content %}
<form class="sign-in-container" method="POST">
    {{ form.hidden_tag() }}
        <div class="sign-in">
            <h1>Sign In</h1>
        </div>
        <fieldset>
            {{ form.username.label }}
            {{ form.username(class='form-control', placeholder='Username') }}
        </fieldset>
        <br>
        <fieldset>
            {{ form.password.label }}
            {{ form.password(class='form-control', placeholder='Password') }}
        </fieldset>
        <div style="margin: 20px auto;">
            {{ form.submit(class='btn btn-primary') }}
        </div>
</form>

{% endblock content %}